{% extends "base_menu.html" %}
{% block content %}
{% if user.is_authenticated %}

<div class="container mt-5">
    <div class="card shadow-lg rounded-4">
        <div class="card-header bg-primary text-white rounded-top-4">
            <h3 class="mb-0">Criar Novo Documento</h3>
        </div>
        <div class="card-body">
            {% load crispy_forms_tags %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                {{ formset.management_form }}

                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> Salvar
                    </button>
                    <a href="{% url 'negocios:business_list' %}" class="btn btn-secondary">
                        <i class="fa fa-times-circle"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
