{% extends "base_menu.html" %}
{% block content %}
{% if user.is_authenticated %}

<div class="container mt-5">
    <div class="card shadow-lg rounded-4">
        <div class="card-header bg-primary text-white rounded-top-4 d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Adicionar Arquivo</h3>
            <a href="{% url 'negocios:document_detail' pk=document.pk %}" class="btn btn-light btn-sm">
                ⬅️ Voltar ao Documento
            </a>
        </div>
        <div class="card-body">
            {% load crispy_forms_tags %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">
                    <i class="fa fa-upload"></i> Carregar
                </button>
            </form>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}

